.contact {
    &__card {
        background-color: rgb(3, 59, 20);
        border-radius: 15px;
        padding: 40px;
        width: 400px;
        margin: auto;
        margin-top: 10%;
        position: relative;
        &__phone,
        &__mail,
        &__local {
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4em;
            & p {
                margin-left: 15px;
            }
        }
        &__img{
            width: 150px;
            border-radius: 50%;
            border: gray solid 8px;
            position: absolute;
            left: -80px;
            top:-20px;
        }
    }

}