nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #002333;
    background-blend-mode: multiply;
    height: 10vh;
    padding-left: 20%;
    padding-right: 20%;
    
    & a{
        height: fit-content;
        font-size: 1.1em;
        font-weight: 600;
        border-radius: 35px;
        color: white;
        text-decoration: none;
        &:hover{
            transform: scale(1.1);
            transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            text-shadow: 10px 10px 10px  rgb(61, 61, 61);
            :active{
                color: grey;
                transform: scale(1.4);
                transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }
        & p{
            margin: 0;   
        }
    }
}

.menu{
    &__burger,& svg{
        display: none;
    }
}


@media only screen and (max-width: 630px) {
    //open //
    nav {
        flex-direction: column;
        height: 81vh;
        position:fixed;
        right: -100vh;
        visibility: hidden;
        bottom: 0;
        z-index: 1;
        transition: all .2s ease-out;
        & a{
            display: none;
        }
    }
    .menu,.burgermove{
        height: 20vh;
        position: relative;
        background-color: #002333;
        & svg{
            display: block;
            color: white;
            width: 25px;
            height: 25px;
            position: absolute;
            top: 50px;
            left: 28px;
        }
        &__burger{
            position: absolute;
            top: 50px;
            right: 30px;
            padding: 0;
            border: none;
            display: block;
            cursor: pointer;
            height: 30px;
            background-color: #002333;
            &__bar,&__bar::before,&__bar::after{
                display: block;
                width: 31px;
                height: 3px;
                background-color: white;
                position: relative;
                transition: all .8s ease-in-out;
            }
            &__bar::before,&__bar::after{
                content: "";
                position: absolute;
                width: 23px;
                margin-left: 4px;
            }
            &__bar::before{
                transform: translateY(-10px);
            }
            &__bar::after{
                transform: translateY(10px);
            }
        }
    }
    .open{
        right: 0;
        visibility: visible;
        padding: 0;
        width: 100vw;
        justify-content: normal;
        & a{
            display: block;
            width: 80px;
            font-size: 1.1em;
            text-align: center;
            margin: 35px;
        }
    }
    .burgermove{
        .menu__burger{
            &__bar::before{
            transform: rotate(45deg);
            }
            &__bar::after{
            transform: rotate(-45deg);
            }
            &__bar{
                height: 0;
            }
        }
    }
}

@media only screen and (max-height: 420px){

    .nav {
        flex-direction: column;
        height: 25vh;
        padding: 10px 0 15px 0;
        width: 100%;
        & a{
            padding: 5px 80px 5px 80px;
            font-size: 0.9em;
        }
    }
}