.nav,.nav__hidden {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #002333;
    background-blend-mode: multiply;
    height: 10vh;
    padding-left: 20%;
    padding-right: 20%;
    &__burger{
        display: none;
    }
    & a{
        height: fit-content;
        font-size: 1.1em;
        font-weight: 600;
        border-radius: 35px;
        color: white;
        text-decoration: none;
        &:hover{
            transform: scale(1.1);
            transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            text-shadow: 10px 10px 10px  rgb(61, 61, 61);
            :active{
                color: grey;
                transform: scale(1.4);
                transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }
        & p{
            margin: 0;
            
        }
        
    }
}


@media only screen and (max-width: 630px) {

    .nav,.nav__hidden {
        flex-direction: column;
        height: 100vh;
        position:fixed;
        left: 0;
        right: 0;
        z-index: 1;
        justify-content: center;
        
        &__burger{
            position: absolute;
            top: 50px;
            right: 30px;
            padding: 0;
            border: none;
            display: block;
            &__bar,&__bar::before,&__bar::after{
                display: block;
                width: 26px;
                height: 3px;
                background-color: white;
                position: relative;
            }
            &__bar::before,&__bar::after{
                content: "";
                position: absolute;
                width: 18px;
                margin-left: 4px;
            }
            &__bar::before{
                transform: translateY(-10px);
            }
            &__bar::after{
                transform: translateY(10px);
                
            }
        }
            
            
        
        &__home,&__skills,&__hobbies,&__contact{
            width: 80px;
            font-size: 1.1em;
            text-align: center;
            margin: 40px;
        }
        
        
    }
    .nav{
        overflow: hidden;
    }
    
    
    .nav__hidden{
        height: 20vh;
        position: relative;
        
        .nav__home,.nav__skills,.nav__hobbies,.nav__contact{
            visibility: hidden;
            display: none;
        }

    }
    
}

@media only screen and (max-height: 420px){

    .nav {
        flex-direction: column;
        height: 25vh;
        padding: 10px 0 15px 0;
        width: 100%;
        & a{
            padding: 5px 80px 5px 80px;
            font-size: 0.9em;
        }
        
        
    }
}