.project{
    
    margin: 0;
    padding: 50px 0 50px 0;
    &__card{
        background-color: lightgray;
        border-radius: 20px;
        width: 75%;
        margin: 0 auto;
        padding: 5px;
        list-style: none;
        text-align: center;
        & h1{
            padding: 20px 30px 30px 30px;
            margin: 0;
        }
        & p{
            padding: 40px 0 30px 0px;
            text-align: justify;
            width: 80%;
            margin: 0 auto;
            font-size: 1.3em;
        }
        & a{
            padding: 20px 0 30px 0px;
            text-decoration: none;
            color: #5B3A1B;
        }
    }
}

@media only screen and (max-width: 830px) {

    .project{
        &__card{
        width: 90%;
        
    }
    
}
}

