ul {
    padding: 0;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("../../media/Back.PNG");
    margin: 0;
    &__card{
        width: 740px;
        height:fit-content;
        background-color: rgb(48, 87, 60);
        list-style: none;
        border-radius: 15px;
        text-align: center;
        color:white ;
        margin: 50px 0 50px 0;
        box-shadow: 10px 10px 10px  rgb(73, 72, 72);
        position: relative;
        &__img{
            width: 200px;
            height: 80px;
            background-color: white;
            border-radius: 15px;
            margin: 0 auto;
            display: flex;
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translate(-50%, 0);
            box-shadow: 10px 5px 10px  black;
            
            
            & img{
                width: 80%;
                margin: auto;
            }
        }
        &__description{
            padding: 50px 0 5px 0;
            font-size: 1.4em;
            margin: 5px 0 0 0;
        }
        &__link{
            cursor: pointer;
            font-size: 1.2em;
            margin: 0 0 10px 0;
        }
        &__pictures{
            width: 88%;
            padding-bottom: 20px;
            filter: grayscale(1);
            margin: 0 auto;
            &__img{
                width: 100%;
                border-radius: 10px;
            }
        }
    }
    &__card:nth-child(2){
        background-color: rgb(101, 146, 114);
    }
    &__card:nth-child(3){
        background-color: rgb(68, 146, 88);
    }
    &__card:nth-child(4){
        background-color: rgb(3, 65, 18);
    }
    &__card:nth-child(5){
        background-color: rgb(184, 214, 191);
    }
    &__card:nth-child(6){
        background-color: rgb(89, 167, 107);
    }
}


@media only screen and (max-width: 775px) {

    .skills{
        &__card{
            width: 95%;
            &__pictures{
                width: 95%;
            }
        
        }
        
    }
}