ul {
    padding: 0;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__card{
        width: 760px;
        height:fit-content;
        background: linear-gradient(oldlace, white);
        list-style: none;
        border-radius: 15px;
        overflow: hidden;
        text-align: center;
        color:#5B3A1B ;
        margin: 50px 0 50px 0;
        &__title,&__description{
            margin: 0;
        }
        &__link{
            cursor: pointer;
            font-size: 2em;
            width: 15px;
            margin: 0 auto;
        }
        &__pictures{
            width: 90%;
            height: 390px;
            margin-bottom: 10px;
        }
    }
}