ul {
    padding: 0;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("../../media/Back.PNG");
    &__card{
        width: 740px;
        height:fit-content;
        background: linear-gradient(rgb(50, 85, 58), rgb(141, 145, 140));
        list-style: none;
        border-radius: 15px;
        text-align: center;
        color:white ;
        margin: 50px 0 50px 0;
        box-shadow: 10px 10px 10px  rgb(73, 72, 72);
        position: relative;
        &__img{
            width: 200px;
            height: 80px;
            background-color: white;
            border-radius: 15px;
            margin: 0 auto;
            display: flex;
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translate(-50%, 0);
            box-shadow: 10px 5px 10px  black;
            
            & img{
                width: 80%;
                margin: auto;
            }
        }
        &__description{
            padding: 50px 0 5px 0;
            font-size: 1.4em;
            margin: 5px 0 0 0;
        }
        &__link{
            cursor: pointer;
            font-size: 1.2em;
            margin: 0 0 10px 0;
        }
        &__pictures{
            width: 88%;
            height: 420px;
            margin-bottom: 10px;
        }
    }
}