

.home{
    margin: 0 auto;
    text-align: justify;
    &__firstpart,&__secondpart,&__thirdpart,&__fourthpart{
        display: flex;
        flex-wrap: wrap;
        
        &__text{
            width: 100%;
            color:white;
            background-color: rgb(59, 59, 59);
            height: 26vh;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        & h1,h2{
            margin: 0;
        }
        & a{
            text-decoration: none;
            font-size: 1.5em;
            color: oldlace;
        }
        &__img{
            width: 100%;
            height: 62vh;
            display: flex;
            background-image: url("../../media/IMG_3284.jpg");
            background-size: cover;
            background-position: bottom;
            filter: brightness(60%);
            border: white solid 10px;
            background-attachment: fixed;
            
        }
    }
    &__secondpart,&__thirdpart,&__fourthpart{
        &__text{
            font-size: 1.6em;
            height: 35vh;
            padding: 0 80px 0 80px;
        }
        &__img{
            background-image: url("../../media/jellyfish.jpg");
            width: 100%;
            height: 60vh;
        }
    }
    &__thirdpart{
        &__img{
            background-image: url("../../media/tokyo.jpg");
        }
    }
    &__fourthpart{
        &__img{
            background-image: url("../../media/learning.jpg");
        }
    }

}
    
//     &__firstpart,&__secondpart,&__thirdpart,&__fourthpart{
//         display: flex;
//         height: 82vh;
//         &__img{
//             height: 82vh;
//             width: 50%;
//             overflow: hidden;
//             display: flex;
//             & img{
//                 opacity: 60%;
//                 object-fit:cover;
//                 width: 70%;
//                 flex-grow: 1;
//                 filter: brightness(60%);
//             }
//         }
//         &__text{
//             justify-content: center;
//             text-align: center;
            
//         }
//         & h1,h2,p,a{
//             transform: translate(0, -50%);
//             color:#5B3A1B;
//             background: rgba(255, 248, 220, 0.7);
//             padding: 5px 25px 7px 25px;
//             border-radius: 30px;
//             box-shadow: 0 8px 10px 0 #5B3A1B ;
//         }
//         a{
            
//             text-decoration: none;
//             font-size: 1.5em;
//         }
//         p{
            
//             font-weight:500;
//             font-size: 1.6em;
//             margin: 0 130px 0 130px;
//         }
        
//     }
//     &__secondpart,&__thirdpart,&__fourthpart{
//         height: 100vh;
//         &__img{
//             height: 100vh;
//             width: 50%;
//         }
//     }
// }