.home{
    margin: 0 auto;
    text-align: justify;
    
    &__firstpart,&__secondpart,&__thirdpart,&__fourthpart{
        position: relative;
        height: 82vh;
        &__img{
            height: 82vh;
            overflow: hidden;
            display: flex;
            & img{
                opacity: 60%;
                object-fit:cover;
                width: 100%;
                flex-grow: 1;
                filter: brightness(60%);
            }
        }
        &__text{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            
        }
        & h1,h2,p,a{
            position: absolute;
            z-index: 1;  
            transform: translate(0, -50%);
            color:#5B3A1B;
            background: rgba(255, 248, 220, 0.7);
            padding: 5px 25px 7px 25px;
            border-radius: 30px;
            box-shadow: 0 8px 10px 0 #5B3A1B ;
        }
        h1{
            top: 40%;
        }
        h2{
            top: 55%
        }
        a{
            top: 70%;
            text-decoration: none;
            font-size: 1.5em;
        }
        p{
            top: 50%;
            font-weight:500;
            font-size: 1.6em;
            margin: 0 130px 0 130px;
        }
        
    }
    &__secondpart,&__thirdpart,&__fourthpart{
        height: 100vh;
        &__img{
            height: 100vh;
            width: 100%;
        }
    }
}